#container{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

table, thead, td {
    border: 2px solid black;
    background-color: aliceblue;
    padding: 2px;
    border-collapse: collapse;
}
